<%- include('../partials/html-head') %> 
<!-- <link rel="stylesheet" href="/stylesheets/flights/new.css"> -->
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/meals" method="POST">
    <!-- Departure Date -->
    <p> <%= mealMessage %>  </p>
    <label for="name-input">Meal:</label>
    <input 
      type="string" 
      id="name-input" 
      name="name"
      autocomplete="off" 
      required
    >
    <button type="submit">Add Meal</button>
  </form>
  <h2> Available Meals </h2>
  <ul>
    <% meals.forEach(meal => { %>
      <li> <%= meal.name %>  </li>
    <% }) %>
    
  </ul>
</main>

<%- include('../partials/footer') %>