<%- include('../partials/html-head') %> 
<link rel="stylesheet" href="/stylesheets/flights/index.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <table>
    <thead>
      <tr>
        <th>Departure Date</th>
        <th>Airline</th>
        <th>Flight Number</th>
        <th>Destination Airport</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(flight => { %>
        <tr>
          <!-- index.css will apply red text color for .past  -->
          <td
            class = "<%=
              (new Date() > flight.departs) ? "past" : "" 
            %>"
          > <a href="/flights/<%=flight._id %>"><%= flight.departs %></a></td>
          <td> <%= flight.airline %> </td>
          <td> <%= flight.flightNo %> </td>
          <td> <%= flight.airport %> </td>
          <td> 
            <form action="/flights/<%=flight._id %>?_method=DELETE" method="POST">
              <button>Delete Flight</button>
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>