<%- include('../partials/html-head') %> 
<link rel="stylesheet" href="/stylesheets/flights/show.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form action="/flights/<%= flight._id %>/edit">
    <button>Edit Flight Details</button>
  </form>
  <table>
    <tbody>
      <tr>
        <th>Departure Date:</th>
        <td><%= flight.departs %></td>
      </tr>
      <tr>
        <th>Airline:</th>
        <td><%= flight.airline %></td>
      </tr>
      <tr>
        <th>Flight Number:</th>
        <td><%= flight.flightNo %></td>
      </tr>
      <tr>
        <th>Destination Airport:</th>
        <td><%= flight.airport %></td>
      </tr>
    </tbody>
  </table>
  <h2>Tickets</h2>
  <form action="/flights/<%= flight._id %>/tickets" method="POST">
    <label for="ticket-seat">Seat</label>
    <!-- <input type="text" id="ticket-seat" name="seat"> -->
    <input name="seat" required pattern="[A-F][1-9]\d?">
    <label for="ticket-price">Price</label>
    <input type="text" id="ticket-price" name="price">
    <button>Add Ticket</button>
  </form>
  <% if (flight.tickets.length) { %>
    <table>
      <thead>
        <th>Seat</th>
        <th>Price</th>
      </thead>
      <tbody>
        <% flight.tickets.forEach(ticket => { %>
          <tr>
            <td><%= ticket.seat %> </td>
            <td><%= ticket.price %> </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Tickets Yet</h3>
  <% } %> 
</main>
<%- include('../partials/footer') %>